apiVersion: v1
kind: ServiceAccount
metadata:
  name: metrics-collector
  namespace: monitoring
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: otel-metrics-collector
rules:
  - apiGroups: [""]
    resources: [ nodes, pods, namespaces, services, endpoints, resourcequotas, replicationcontrollers, persistentvolumes, persistentvolumeclaims, limitranges ]
    verbs: [ get, list, watch ]
  - apiGroups: [""]
    resources: [ configmaps ]
    verbs: [ get ]
  - apiGroups: [ "apps" ]
    resources: [ deployments, statefulsets, daemonsets, replicasets ]
    verbs: [ get, list, watch ]
  - apiGroups: [ "batch" ]
    resources: [ jobs, cronjobs ]
    verbs: [ get, list, watch ]
  - apiGroups: [ "autoscaling" ]
    resources: [ horizontalpodautoscalers ]
    verbs: [ get, list, watch ]
  - apiGroups: [ "storage.k8s.io" ]
    resources: [ storageclasses, csinodes, csidrivers, csistoragecapacities ]
    verbs: [ get, list, watch ]
  - apiGroups: [ "policy" ]
    resources: [ poddisruptionbudgets ]
    verbs: [ get, list, watch ]
  - apiGroups: [ "coordination.k8s.io" ]
    resources: [ leases ]
    verbs: [ get, list, watch ]
  - apiGroups: [ "discovery.k8s.io" ]
    resources: [ endpointslices ]
    verbs: [ get, list, watch ]
  - apiGroups: [ "networking.k8s.io" ]
    resources: [ ingresses ]
    verbs: [ get, list, watch ]
  - apiGroups: [ "monitoring.coreos.com" ]
    resources: [ servicemonitors, podmonitors ]
    verbs: [ "*" ]
  - apiGroups: [""]
    resources: [ "nodes/metrics" ]
    verbs: [ get, list, watch ]
  - nonResourceURLs: [ "/api", "/api/*", "/apis", "/apis/*", "/metrics" ]
    verbs: [ get ]
  - apiGroups: [ "scheduling.k8s.io" ]
    resources: [ priorityclasses ]
    verbs: [ get, list, watch ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: otel-metrics-collector
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: otel-metrics-collector
subjects:
  - kind: ServiceAccount
    name: metrics-collector
    namespace: monitoring
  - kind: ServiceAccount
    name: metrics-targetallocator
    namespace: monitoring
