apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAgent
metadata:
  name: vmagent
  namespace: monitoring
spec:
  selectAllByDefault: true
  externalLabels:
    cluster: otel-playground
  retentionPolicyName: "" # use remote retention
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 512Mi
  # Discover ServiceMonitor/PodMonitor across namespaces
  serviceMonitorSelector: {}
  serviceMonitorNamespaceSelector: {}
  podMonitorSelector: {}
  podMonitorNamespaceSelector: {}
  probeSelector: {}
  probeNamespaceSelector: {}
  scrapeInterval: 30s
  replicaCount: 1
  remoteWrite:
    - url: http://metrics-collector.monitoring.svc.cluster.local:19290/receive
      # Optionally, tune queues/timeouts
      # queueConfig:
      #   capacity: 10000
      #   maxShards: 10
      #   maxSamplesPerSend: 10000
      #   batchSendDeadline: 5s
